/* Custom CSS to adjust the size of the project logo */
#projectlogo img {
  max-width: auto; /* Ensure the logo does not exceed its container's width */
  height: 10%;    /* Maintain aspect ratio */
}